{% extends 'client/base.html' %}

{% block content %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h3 class="display-4">Сайт для Ваших рассылок</h3>
    <p class="lead">Сервис управления рассылками, администрирования и получения статистики.
    </p>
</div>
<div class="container">
    <div class="col-12">
        <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
            <div class="col-4">
                <div class="card mb-4 rounded-3 shadow-sm">
                    <div class="card-header py-3">
                        <h4 class="my-0 fw-normal">Всего рассылок в сервисе</h4>
                    </div>
                    <div class="card-body">
                        <h1 class="card-title pricing-card-title">{{ count_newsletter }}</h1>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card mb-4 rounded-3 shadow-sm">
                    <div class="card-header py-3">
                        <h4 class="my-0 fw-normal">Всего активных рассылок</h4>
                    </div>
                    <div class="card-body">
                        <h1 class="card-title pricing-card-title">{{ active_newsletter }}</h1>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card mb-4 rounded-3 shadow-sm">
                    <div class="card-header py-3">
                        <h4 class="my-0 fw-normal">Число уникальных клиентов</h4>
                    </div>
                    <div class="card-body">
                        <h1 class="card-title pricing-card-title">{{ service_client }}</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        {% for blog in blog_list %}
            <div class="col-6">
                <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    <div class="col p-4 d-flex flex-column position-static">

                        <h3 class="mb-0">{{ blog.title }}</h3>
                        <div class="mb-1 text-muted">{{ blog.public_date }}</div>
                        <p class="card-text mb-auto">{{ blog.content }}</p>
                        <a class="stretched-link" href="{% url 'blog:list' %}">Читать далее</a>
                    </div>

                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}