{% extends 'client/base.html' %}

{% block content %}

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Добавить клиента</h1>
</div>

<div class="card px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
            <div class="card-body">
                <form method="post" action="" class="form-floating" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <div class="mb-3">
                        <button type="submit" class="w-100 btn btn-lg btn-outline-primary">Сохранить</button>
                    </div>
                    <div class="mb-3">
                        <a href="{% url 'client:home' %}" class="w-100 btn btn-lg btn-outline-primary">Обратно</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}