{% extends 'client/base.html' %}

{% load image_tag %}
{% block title %} Блог {% endblock %}

{% block content %}
<h1 align="center"> {{ object|title }} </h1>

<div class="card px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center" style="width: 24rem;">
    <div class="card-body">
        <img src="{% mymedia object.image %}" width="100" height="111">
        <p class="card-text">Содержимое: {{ object.body }}</p>
        <p class="card-text">Дата создания: {{ object.created_at }}</p>
        <p class="card-text"> Просмотров: {{ object.views_count }}</p>
        <div class="d-grid gap-2 mx-auto">
            <a href="{% url 'blog:list' %}" class="w-100 btn btn-lg btn-outline-warning"> Назад </a>
        </div>
    </div>
</div>
{% endblock %}